﻿@model IEnumerable<JJCommerce.Models.Province>

@{
    ViewBag.Title = "Provincias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProvinceName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProvinceName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProvinceID }, new { @class = "btn btn-primary" } )|
            @Html.ActionLink("Details", "Details", new { id=item.ProvinceID }, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProvinceID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
