﻿@model IEnumerable<JJCommerce.Models.Status>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Estados</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StatusID }) |
            @Html.ActionLink("Details", "Details", new { id=item.StatusID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StatusID })
        </td>
    </tr>
}

</table>
